* {
  margin: 0;
  padding: 0;
  box-sizing: padding-box;
}

div.game-grid {
  width: 520px;
  height: 520px;
  margin: 25px auto;
  background-color: rgb(115, 200, 50);
  border: 5px solid green;
  position: relative;
}

div.wall {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: rgb(65, 65, 65);
  position: absolute;
}

div.brick {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(43, 31, 7);
  background-color: rgb(156, 91, 14);
  box-sizing: border-box;
}

div.ghost {
  position: absolute;
  width: 38px;
  height: 38px;
  margin-left: 1px;
  margin-top: 1px;
  border-radius: 10px;
  background-color: rgb(40, 230, 195);
}

div.player {
  position: absolute;
  z-index: 3;
  left: 2px; top: 2px;
  width: 34px;
  height: 34px;
  /*width: 50px;
  height: 50px;*/
  border-radius: 10px;
  background-color: rgb(252, 64, 23);
}
