* {
  margin: 0;
  padding: 0;
  box-sizing: padding-box;
}

body {
  background-color: rgb(0, 9, 38);
}

div.game-grid {
  width: 520px;
  height: 520px;
  margin: 25px auto;
  background-image: url('../img/grass.png');
  border: 5px solid rgb(22, 25, 47);
  position: relative;
}

div.wall {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-image: url('../img/wall.png');
  background-size: cover;
}

div.brick {
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url('../img/brick2.png');
  box-shadow: 2px 1px 1px 0px rgba(0,0,0,0.75);
}

div.ghost {
  position: absolute;
  width: 34px;
  height: 34px;
  background-color: rgb(40, 230, 195);
  margin-right: 1px;
}

div.player {
  position: absolute;
  z-index: 3;
  width: 34px;
  height: 36px;
  margin-top: -2px;
  margin-left: -2px;
  padding-right: 2px;
  border-radius: 8px;
  background-color: rgb(252, 64, 23);
}

div.bomb {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
}
