* {
  margin: 0;
  padding: 0;
  box-sizing: padding-box;
}

body {
  background-color: rgb(0, 9, 38);
}

div.game-grid {
  width: 520px;
  height: 520px;
  margin: 25px auto;
  background-image: url('../img/grass.png');
  border: 5px solid rgb(22, 25, 47);
  position: relative;
}

div.wall {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-image: url('../img/wall.png');
  background-size: cover;
}

div.brick {
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url('../img/brick2.png');
  background-size: cover;
  box-shadow: 2px 1px 1px 0px rgba(0,0,0,0.75);
}

div.ghost {
  position: absolute;
  width: 34px;
  height: 34px;
  background-image: url('../img/nuwalk.gif');
  background-size: cover;
  /*animation: ghost 1.4s infinite;*/
}

div.player {
  position: absolute;
  z-index: 3;
  width: 34px;
  height: 36px;
  margin-top: -2px;
  margin-left: -2px;
  padding-right: 2px;
  background-image: url('../img/player.png');
  background-size: 1490%;
}

div.bomb {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-image: url('../img/bomb.png');
  background-size: cover;
  animation: bombSet 0.7s steps(3) infinite;
}

@keyframes bombSet {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 120px 0;
    }
}

@keyframes ghost {
    0% {
        background-size: 95%;
    }
    33% {
        background-size: 105%;
    }
    67% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
}

/*@keyframes playerDown {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position:
    }
}*/
